//
//  ChatAppConfig.xcconfig
//  ChatApp
//
//  Created by Екатерина on 21.05.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Работа с изображениями
IMAGES_API_KEY=OItl8zcwmrtYnIG85FaQU5v1kvqmxLeyAcmsavO6zuw
IMAGES_API_NET_PROTOCOL_AND_HOST=https:/$()/api.unsplash.com
IMAGES_API_URL=$(IMAGES_API_NET_PROTOCOL_AND_HOST)/photos/?client_id=$(IMAGES_API_KEY)
IMAGES_API_IMAGES_HOST=https:/$()/images.unsplash.com
