//
//  ChatAppConfig.xcconfig
//  ChatApp
//
//  Created by Екатерина on 21.05.2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Работа с изображениями
IMAGES_API_KEY=27072373-7f17e812b8489bd72b0185e4d
IMAGES_API_NET_PROTOCOL_AND_HOST=https:/$()/pixabay.com
IMAGES_API_URL=$(IMAGES_API_NET_PROTOCOL_AND_HOST)/api/?key=$(IMAGES_API_KEY)
